# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Env files
.env

# Data
*.csv
*.xlsx

# PDF outputs
*.pdf

# Log files
*.log

# Streamlit config
.streamlit/ 